<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Language" content="es" />
    <meta name="google" content="notranslate" />
    <title>Curriculum Ignacio Arriagada</title>
  </head>
  <body
    translate="no"
    class="notranslate"
    style="
      background-color: transparent;
      padding: 20px;
      margin: 0 auto;
      line-height: 1.6;
      border-radius: 20px;
      border: 1px solid #000;
      color: #000;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    "
  >
    <header class="notranslate" style="margin-bottom: 10px">
      <h1 class="notranslate" style="font-size: 1.5rem; font-weight: 800">
        Hola, mi nombre es Ignacio Arriagada.
      </h1>
    </header>
    <main class="notranslate" style="margin-bottom: 20px">
      <h3
        class="notranslate"
        style="
          font-weight: 700;
          margin-top: 0;
          font-size: 1.25rem;
          margin-bottom: 10px;
        "
      >
        Soy Técnico de Nivel Superior Analista Programador (Técnico en
        Informática).
      </h3>
      <p
        class="notranslate"
        style="font-size: 1rem; text-align: justify; color: #222222"
      >
        Junto con saludar, adjunto curriculum de informatico para futuras
        oportunidades laborales o cualquier eventualidad que lo requiera.
        <br />
        Quedo atento a cualquier información adicional que se presente.
        <br />
        <br />
        Saludos cordiales.
      </p>
      <br />
      <br />
    </main>
    <footer class="notranslate">
      <p class="notranslate" style="font-size: 0.95rem; font-style: italic">
        Puedes visitar mi portafolio Web aqui
        <a
          href="https://irai-dev-portafolio.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
          style="text-decoration: underline; color: rgb(23, 92, 221)"
        >
          irai.dev - portafolio
        </a>
      </p>
    </footer>
  </body>
</html>
